---
import '../styles/global.css';
import { frameworks } from '../data/navigation';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import Card from '../components/card/Card.astro';

// Helper function to capitalize first letter
const capitalize = (str: string) => str.charAt(0).toUpperCase() + str.slice(1);
---
<Layout>
    <section id="frameworks" class="py-20 bg-inherit">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-4xl font-cal font-bold text-center mb-12 bg-gradient-to-r from-orange-500 via-purple-500 to-blue-500 bg-clip-text text-transparent">
            Available Family Links
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {frameworks.map((framework) => (
                <Card 
                    href={`${framework.path}/${framework.name}`}
                    bgcolor={framework.color}
                    icon={framework.name}
                    target={framework.target}
                    isIcon={false}
                    colorIcon={framework.color}
                    title={capitalize(framework.name)}
                    subtitle="View links collection"></Card>
            ))}
        </div>
    </div>
</section>
</Layout>

<style>
    section {
        perspective: 1000px;
    }
    
    .grid > a {
        transform: translateZ(0);
        transition: transform 0.3s ease;
    }
    
    .grid > a:hover {
        transform: translateZ(20px);
    }
</style>
